:root {
/* --- primary colors --- */
--green500: hsl(158, 36%, 37%);
--green700: hsl(158, 36%, 20%);
/* --- neutral colors --- */
--black: hsl(212, 21%, 14%);
--grey: hsl(228, 12%, 48%);
--cream: hsl(30, 38%, 92%);
--white: hsl(0, 0%, 100%);

/* --- typography --- */
--font-serif: 'Fraunces', serif;
--font-sans: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: var(--cream);
    font-family: var(--font-sans);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1.5rem;
    flex-direction: column;
}

/* --- card container (mobile first) --- */

.product-card {
  background-color: var(--white);
  border-radius: 0.5rem;
  max-width: 350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* --- image styles --- */
.product-image-container {
  width: 100%;
  height: auto;
}

.product-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* --- content styles --- */
.product-content {
  padding: 1.5rem;
}

.product-category {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--grey);
    font-size: 0.75rem;
    margin-bottom: 0.8rem;
    display: block;
}

.product-title {
    font-family: var(--font-serif);
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 1rem;
    line-height: 1;
}
.product-description {
    font-size: 0.9rem;
    color: var(--grey);
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

/* --- price styles --- */
.pricing-flex {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 1.5rem;
}

.current-price {
    font-family: var(--font-serif);
    font-size: 2rem;
    color: var(--green500);
}

.original-price {
    font-size: 0.9rem;
    color: var(--grey);
    text-decoration: line-through;
}

/* --- button styles --- */
.btn-add-cart {
    background-color: var(--green500);
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
    font-family: var(--font-sans);
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    transition: background-color 0.3s ease;
}

.btn-add-cart:hover {
    background-color: var(--green700);
}

/* --- desktop styles --- */
@media (min-width: 600px) {
    .product-card {
        flex-direction: row;
        max-width: 600px;
    }

    .product-image-container {
        width: 50%;
        height: 100%;
    }

    .product-content {
        padding: 2rem;
        width: 50%;
    }
}